.demo-container {
    height: 1020px;
    width: 1000px;
    background-color: lightgoldenrodyellow;
    align-self: center;
    justify-content: center;
    display: inline-flex;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}



.playground {
    margin-bottom: 1.5%;
    margin-top: 0;
    font-family: Inter;
}