.one-text{
    padding-top: 12%;
}

.one-text-p {
    width: 40%;
    margin-bottom: 10%;
    font-weight: lighter;
    
}

.one-text-h1 {
    width: 80%;
    font-size: 5rem;
    padding-bottom: 1rem;
    
}

.extension-button {
    border-radius: 5px;
    border: 0;
    height: 7%;
    width: 25%;
    background-color: orange;
    font-family: Montserrat;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none; 
    color:white;
}

.extension-button1 {
    border-radius: 5px;
    border: 0;
    height: 7%;
    width: 25%;
    background-color: white;
    font-family: Montserrat;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none; 
    color:orange;
    margin-left: 3em;
    border: orange solid;
}

.extension-button:hover {
    background-color: orangered;
    
}

.extension-button1:hover {
    background-color: whitesmoke;
    
}

.can:visited {
    text-decoration: none; 
    color:white;
}